@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

body{
    background-color: black;
    margin:50px 30px;
    font-family: 'Inter', sans-serif;
    color:#fff;
}

p{
    color:#fff;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.add form{
    display: flex;
    justify-content: space-between;
    gap:2rem;
}
.add form div{
    flex-grow: 1;
}

.add form div input{
    width: 100%;
    height:25px;
    margin-top:15px;
    background-color: transparent;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

select option{
    background-color: black;
}

.add form div label{
    font-size: 1.125rem;
}

ul li{
    text-align: left;
    font-size: 1.125rem;
}

form select{
    width:170px;
    height:45px;
    font-size: 1.125rem;
    font-weight: 300;
    border-radius: 1px;
    outline:none;
    padding:10px 20px;
    background-color: transparent;
    color:white;
    margin-bottom: 1.5rem;;
}

#filter, #addBtn{
    width:170px;
    height:40px;
    font-size: 1.125rem;
    font-weight: 300;
    border-radius: 1px;
    outline:none;
    margin-top: 1.5rem;
}

.filter{
    margin-bottom: 5rem;
}